---
import Layout from '../layouts/main.astro';
---

<Layout title="Sebastián Martínez Vanegas">
  <div class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 xl:px-0">
    <h1 class="font-laomn text-neutral-600 mb-4 text-2xl font-extrabold leading-tight dark:text-white">
      Página no encontrada
    </h1>
  </div>
</Layout>
