---
import Layout from '../layouts/main.astro';
---

<Layout title="Sebastián Martínez Vanegas">
  <div class="relative z-20 w-full max-w-2xl mx-auto mt-24 px-7 xl:px-0 text-center">
    <div class="flex flex-col items-center">
      <h1
        class="font-laomn small-caps text-neutral-700 mb-2 text-3xl font-extrabold leading-tight dark:text-white tracking-wide"
      >
        Página no encontrada
      </h1>
      <a href="/" class="inline-block mt-2 px-6 py-2 bg-black text-white font-serif hover:bg-neutral-800 transition">
        Volver al inicio
      </a>
      <p class="mt-8 mb-16 text-sm text-neutral-60 font-serif">Sebastián Martínez Vanegas</p>
    </div>
  </div>
</Layout>
